<ul id="BVSEOSDK_meta" style="display:none !important">
  <li data-bvseo="sdk">bvseo_sdk, java_sdk, bvseo-${project.version}</li>
  <li data-bvseo="sp_mt">{{methodType}}, {{accessMethod}}, {{executionTime}}ms</li>
  <li data-bvseo="ct_st">{{_bvParameters.contentType}}, {{_bvParameters.subjectType}}</li>
{{#message}}
  <li data-bvseo="ms">bvseo-msg: {{message}}</li>
{{/message}}
</ul>

{{#revealMap}}
<ul id="BVSEOSDK_meta_debug" style="display:none !important">
{{#revealMapEntries}}
  <li data-bvseo="{{key}}">{{value}}</li>
{{/revealMapEntries}}
  <li data-bvseo="userAgent">{{_bvParameters.userAgent}}</li>
  <li data-bvseo="baseURI">{{_bvParameters.baseURI}}</li>
  <li data-bvseo="pageURI">{{_bvParameters.pageURI}}</li>
  <li data-bvseo="subjectId">{{_bvParameters.subjectId}}</li>
  <li data-bvseo="contentType">{{_bvParameters.contentType}}</li>
  <li data-bvseo="subjectType">{{_bvParameters.subjectType}}</li>
  {{#url}}
  <li data-bvseo="contentURL">{{url}}</li>
  {{/url}}
</ul>
{{/revealMap}}
